app
dist
build
public
Dockerfile*

.cache
.env.*
*.lock
*.json
.browserslistrc
.editorconfig
.eslintignore
.gitattributes
.gitignore
.lintstagedrc
.node-version
.nvmrc
.prettierignore

**/node_modules/**
**/documentation/**
**/.devcontainer/**
**/docker/**
**/.husky/**
**/etc/**
